body {
  font-family: "Otomanopee One", sans-serif;
  margin: 0;
}
section {
  display: flex;
}
.color {
  color: red;
}
.half-half {
  width: 50%;
  padding-left: 5%;
}
#img1 {
  width: 70%;
  position: relative;
  left: 20%;
}
#size {
  font-size: 500%;
}
.top-banner {
  background-image: url(SeekPng.com_yellow-banner-png_1914815.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  background-image: linear-gradient(red, tomato);
  border-radius: 5%;
}
